
/*FIX THE FOOTER
SET OVERFLOW HIDDEN TO BODY
FIX THE MEDIA QUERY FOR LANDSCAPE USING OVERFLOW AUTO TO BODY*/

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  overflow: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgb(198, 179, 243))) fixed;
  position: relative;
}

.modal:focus {
  outline: none !important;
  }

  .modal-content:focus {
    outline: none !important;
    }

.notificationbtn1 {
  background-color: transparent;
  border-style:none;
}
.notificationbtn1:hover {
-ms-transform: scale(1.2); /* IE 9 */
-webkit-transform: scale(1.2); /* Safari 3-8 */
transform: scale(1.2); 
}

#reject {
  background-color: transparent;
  width: 50px;
  height: 20x;
  border-style: solid;
  border-width: 1px;
font-size: 10px;
  outline: none !important;
  color: white;
  border-radius: 50px;
  text-align: center;
  margin-top: 0px;
  background:rgba(142, 68, 173, .8);
  box-shadow: 5px 2px rgba(142, 68, 173, 0.5);
}
#reject:hover {
-ms-transform: scale(1.2); /* IE 9 */
-webkit-transform: scale(1.2); /* Safari 3-8 */
transform: scale(1.2); 
}

#accept {
  background-color: transparent;
  width: 50px;
  height: 20x;
  border-style: solid;
  border-width: 1px;
font-size: 10px;
  outline: none !important;
  color: white;
  border-radius: 50px;
  text-align: center;
  margin-top: 0px;
  background:rgba(142, 68, 173, .8);
  box-shadow: 5px 2px rgba(142, 68, 173, 0.5);
}
#accept:hover {
-ms-transform: scale(1.2); /* IE 9 */
-webkit-transform: scale(1.2); /* Safari 3-8 */
transform: scale(1.2); 
}

/* DMS MON PM----------------------- */
.loginsignuplinkwrap {
  text-align: center;
  margin-top: 100px;
  color: white;
  display: flex;
  justify-content: center;
}

.loginsignuplink {
  color: white;
}

.loginsignuplink:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.logo-cont{
    margin-top:0px;
}

.contain1{
    display: flex;
    justify-content: center;
    margin-top: 0;
    
}

.logsignwrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    height: 100vw;
    border-radius: 20px;
    margin: 0;

}

.introhalf{
    width: 50%;
    display: flex;
    justify-content: center;
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(77, 19, 209, 1))) fixed;
    /* background:rgba(77, 19, 209, 1); */
    color: white;
    padding-bottom: 100px;
    
}
.loginInner {
    width:90%;

    margin-top: 50px;
    

}
.signupInner {
    width:100%;
    display: flex;
    justify-content: center;
    
}
.signup{
    width: 50%;
    height: 100%;
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
    
}
.signupform{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    

}
.signupform1{
    width: 50%;

    

}
.signupform2{
    width: 50%;


}

.loginoption {
    justify-content: center;
    display: flex;
    padding-bottom: 10px;
    /* border-top-right-radius: 20px; */
    margin-top: 100px;
}
.loginoption2 {

    width:80%;
    flex-direction: row;
}

.loginemailfield {
    width:100%;
   
}
.loginpassfield {
    width:100%;
    margin-top: 20px;
}

.formgroup {
    justify-content: center;
    display: flex;
}

.loginbtnwrap{
    display: flex;
        justify-content: center;
        width: 100%;
    }

.loginbtn{
display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 80%;
}

.imgwrap1 {
    width:50%;

}
.btnloginwrap1 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.btnlogin{
    background-color: transparent;
    width: 80px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
 
    outline: none !important;
    color: white;
    border-radius: 50px;
    text-align: center;
    margin-top: 10px;
    background: rgba(142, 68, 173, .8);
    box-shadow: 5px 2px rgba(142, 68, 173, 0.5);
    

}

.btnlogin:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.btnsubmit2 {
    background-color: transparent;
    width: 80px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
 
    outline: none !important;
    color: white;
    border-radius: 50px;
    text-align: center;
    margin-top: 0px;
    background:rgba(142, 68, 173, .8);
    box-shadow: 5px 2px rgba(142, 68, 173, 0.5);
}
.btnsubmit2:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
.signuptext1 {
    margin:0;
    /* justify-content: center;
    display: flex; */
    
}
.signuptext {
    margin-left: 10px;
    margin-top:30px; 
    /* justify-content: ce
    nter;
    display: flex; */
}

p {
    margin-top: 10px;
    margin-bottom: 5px;
}
.submitbtn2 {
    display: flex;
    justify-content: center;
}
.photo-cont1{
    width: 190px;
    height: 190px;
    background: transparent;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 30px;
    background: rgba(102, 51, 153, .2);
  }
  .photo-cont2{
    width: 180px;
    height: 180px;
    background: rgba(102, 51, 153, .6);
    display: inline-block;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: relative;
    margin: 0;
    border-radius: 50%;
    
  }

  .idphoto{
    position: absolute;
    display: inline-block;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    /* border-radius: 50%; */
    z-index: -1;
  }
  

  .formcontrol{
      background-color: transparent;
      width: 90%;
      height: 30px;
      border-style: solid;
      border-width: 1px;
      border-color:rgba(102, 51, 153, .8);
      outline: none !important;
      color: black;
      border-radius: 5px;
      text-align: center;
      font-size: 15px;
  }

  .formcontrol:focus {
	outline: none !important;
}

.formcontrol1{
    background-color: transparent;
    width: 80%;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(102, 51, 153, .8);
    outline: none !important;
    color: black;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
}

.formcontrol1:focus {
  outline: none !important;
}


::placeholder{
    color: gray;
    font-size: 15px;
}

.btn1{
	background-color: transparent;
  border-style: none;
  border-color: transparent;
  border-radius: 50%;
  width: 240px;
  height: 240px;

}


button:focus,
select:focus {
  outline: none;
}







/* 
#overlay-me {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;

}
 */
.head-pic1{
  display: flex;
  justify-content: center;
}

/* ------------------------------------------------ */

/* USER'S PAGE */

.head-picuser{
  display: flex;
  justify-content: center;
}

.usercont1 {

  /* background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgb(94, 34, 233))) fixed; */
  width: 100%;
  height: 100%;
  
}

.photo-usercont1{
  width: 190px;
  height: 190px;
  position: relative;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 0px;

}
.photo-usercont2{
  width: 190px;
  height: 190px;
  display: inline-block;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  position: relative;
  overflow: hidden;
  margin: 0;
  border-radius: 50%;
  background-image: url('/images/ImagefromiOS.jpg');
  background-size: 190px 190px;
  

}

.idphotouser{
  width: 190px;
  height: 190px;
  position: absolute;
  display: inline-block;
  top:50%;
  left:50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border-radius: 50%;
  z-index: 1;
}

.contentswrapper {
  justify-content: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;

}
.contents {
width: 70%;
  height: 100%;
}

.notificationwrap {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.usernamewrap {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
  /* border-style:solid;
  border-width: 1px; */
  

}

.usernamecontain {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: transparent;
  /* border-radius: 5px; */
  /* border-bottom-style: solid;
  border-width: 1px;
  border-bottom-color: rgb(197, 115, 235);  */
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;


}
/* .contforinputs {
  
} */

.contfortitle {
  justify-content: center;
  display: flex;
}



.addphotowrap {
  /* justify-content: center;
  display: flex; */
  margin-bottom: 20px;
}


.transactionswrap {
display: flex;
flex-direction: row;

}

.moneyyougave {
  width: 50%;
  justify-content: center;
  display: flex;
  height: 100%;
  border-left-style: none;
  border-right-style: solid;
  border-width: 1px;
  border-color: rgba(142, 68, 173, 0.5);
  color: black;
  
}

.moneyupdateyougave {
  width: 100%;
  justify-content: center;
 
  /* background: rgba(102, 51, 153, .3); */


  overflow: auto;
  /* border-radius: 20px; */
  color: black;

}

.moneyupdateyouowe {
  width: 100%;
/* 
  background: rgba(102, 51, 153, .3); */
  overflow: auto;

  /* border-radius: 20px; */
  color: black;

}


.moneyyouowe {
  width: 50%;
  justify-content: center;
  display: flex;
  /* border-right-style: none;
  border-width: 1px;
  border-color: rgba(142, 68, 173, 0.5); */
  color: black;
  
  height: 100%;

}

.moneyyouowetitle {

border-radius: 5px;
text-align: center;
height: 50px;
/* display: flex;
justify-content: center; */

  padding-bottom: 15px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  width: 70%;
  background-color: rgba(218, 114, 145, 0.5);

  /* justify-content: space-between;
  display: flex; */
}

.moneyyougivetitle {
  border-radius: 5px;
  text-align: center;
  height: 50px;
  /* justify-content: space-between;
  display: flex; */
  
    padding-bottom: 15px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 70%;
    background-color: rgba(133, 204, 236, 0.5);
  }
  .gaveInputs {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: auto;
    width: 100%;
  }

  #UDIV {

    width: 60%;
  }

  #ODIV {
    width:60%;
  
  }
  
   
  .oweInputs {

    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    overflow: auto;
  }
  

  .loanReminder {
    margin-top: 20px;
    height: 30px;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(8, 8, 8, 0.2);
    font-size: 12px;

    
  }

  .loanReminder:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    background-color: rgba(104, 223, 80, 0.4);

    }

  .debtReminder {
    margin-top: 20px;
    height: 30px;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(241, 134, 72, 0.4);
    font-size: 12px;
  }

  .debtReminder:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    
    background-color: rgb(245, 9, 9, 0.4);


    }

.addtransnwrap {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.addtranscont {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}


#logout {
  background-color: transparent;
  width: 80px;
  height: 30px;
  border-style: solid;
  border-width: 1px;
font-size: 12px;
  outline: none !important;
  color:  rgba(142, 68, 173, 0.8);
  border-radius: 50px;
  text-align: center;
  margin-top: 0px;
  background:transparent;
  box-shadow: 5px 2px rgba(142, 68, 173, 0.5);
}
#btnaddtransid {
  background-color: transparent;
  width: 120px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
font-size: 12px;
  outline: none !important;
  color: white;
  border-radius: 50px;
  text-align: center;
  margin-top: 0px;
  background:rgba(142, 68, 173, .8);
  box-shadow: 5px 2px rgba(142, 68, 173, 0.5);
}
.btnaddtrans:hover {
-ms-transform: scale(1.2); /* IE 9 */
-webkit-transform: scale(1.2); /* Safari 3-8 */
transform: scale(1.2); 
}

.adduserphoto {
  justify-content: center;
  display: flex;
}

.cloudinarybutton {
  background: transparent;
  border: none;
}

h2 {
  margin: 0;
}

.logoutbtn {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
/* 
.cloudinarybtn {
  margin-top: 20px;
} */



/*MODAL2---------------------------*/

.remindercont1 {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 180px;
}

.remindermodalwrap {
  width: 100%;
}

.remindercont2 {
  width: 60%;
  
  
  background-color: rgba(104, 223, 80, 0.4);
  border-color: white;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  color: black;
  border-radius: 20px;
}

.remcont {
  justify-content: space-between;
  display: flex;
  margin: 20px;
  width: 100%;
   
}



.btnrem {
  background-color: transparent;
  width: 80px;
  height: 40px;
  border-style: solid;
  border-width: 1px;

  outline: none !important;
  color: white;
  border-radius: 50px;
  text-align: center;
  margin-top: 0px;
  background:rgba(142, 68, 173, .8);
  box-shadow: 5px 2px rgba(142, 68, 173, 0.5);
}
.btnrem:hover {
-ms-transform: scale(1.2); /* IE 9 */
-webkit-transform: scale(1.2); /* Safari 3-8 */
transform: scale(1.2); 
}

.form-group3 {
  width: 100%;
}
.inputrem{
  background-color: rgba(59, 57, 59, 0.8);
  width: 100%;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-color:white;
  outline: none !important;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

.inputrem:focus {
outline: none !important;
}

.inputrem::placeholder {
  color:gray;
}
/* --------------------------------------------- */
 


/*MODAL3---------------------------*/

.paycont1 {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 180px;
}

.paymodalwrap {
  width: 100%;
}

.paycont2 {
  width: 60%;
  background-color: rgb(245, 9, 9, 0.2);
  
  padding: 20px;
  
  border-width: 1px;
  color: black;
  border-radius: 20px;
}

.paycont3 {
  justify-content: space-between;
  display: flex;
  margin: 20px;
  width: 100%;
   
}



.btnpaymodal {
  background-color: transparent;
  width: 80px;
  height: 40px;
  border-style: solid;
  border-width: 1px;

  outline: none !important;
  color: white;
  border-radius: 50px;
  text-align: center;
  margin-top: 0px;
  background:rgba(142, 68, 173, .8);
  box-shadow: 5px 2px rgba(142, 68, 173, 0.5);
}
.btnpaymodal:hover {
-ms-transform: scale(1.2); /* IE 9 */
-webkit-transform: scale(1.2); /* Safari 3-8 */
transform: scale(1.2); 
}

.form-group4 {
  width: 100%;
}
.inputpaymodal{
  background-color: rgba(59, 57, 59, 0.8);
  width: 100%;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-color:white;
  outline: none !important;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

.inputpaymodal:focus {
outline: none !important;
}

.inputpaymodal::placeholder {
  color:gray;
}
/* --------------------------------------------- */

/* MODAL TRANSACTION */


#overlay-pay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(77, 19, 209, .5))) fixed;
  z-index: 2;
  cursor: pointer;
}


#overlay-rem {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(77, 19, 209, .5))) fixed;
  z-index: 2;
  cursor: pointer;
}


#overlay-addtrans {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(77, 19, 209, .5))) fixed;
  z-index: 2;
  cursor: pointer;
}

.transactionmodalwrap {
  justify-content: center;
  display: flex;
  color: white;
}

.trasactionmodalcontainer {
  justify-content: center;
  display: flex;
  color: black;
  width: 60%;
  height: 450px;
  margin-top: 50px;
  border-radius: 20px;
  /* border-style: solid;
  border-color: white; */
  border-width: 1px;
  background-color: rgba(133, 204, 236, 0.5);

}

.trasactionmodalcontents {
  
  width: 90%;
 
}
.footer2 {
  justify-content: center;
  display: flex;
  color: white; 
}
.username-from-DB {
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color: white;
  color: white;
}

.borrowersemail{
  background-color: rgba(59, 57, 59, 0.5);
  width: 80%;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-color:white;
  outline: none !important;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

.borrowersemail:focus {
outline: none !important;
}

.borrowersemail::placeholder {
  color:darkgray;
}
.amounttogive{
  background-color: rgba(59, 57, 59, 0.5);
  width: 80%;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-color:white;
  outline: none !important;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

.amounttogive:focus {
outline: none !important;
}

.amounttogive::placeholder {
  color:darkgray;
}

.datetopay{
  background-color: rgba(59, 57, 59, 0.5);
  width: 80%;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-color:white;
  outline: none !important;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

.datetopay:focus {
outline: none !important;
}

.datetopay::placeholder {
  color:darkgray;
}

.msgtoborrower{
  background-color: rgba(59, 57, 59, 0.5);
  width: 80%;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-color:white;
  outline: none !important;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

.msgtoborrower:focus {
outline: none !important;
}

.msgtoborrower::placeholder {
  color:darkgray;
}

.sendwrap {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.sendcont {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.btnsend {
  background-color: transparent;
  width: 80px;
  height: 40px;
  border-style: solid;
  border-width: 1px;

  outline: none !important;
  color: white;
  border-radius: 50px;
  text-align: center;
  margin-top: 0px;
  background:rgba(142, 68, 173, .8);
  box-shadow: 5px 2px rgba(142, 68, 173, 0.5);
}
.btnsend:hover {
-ms-transform: scale(1.2); /* IE 9 */
-webkit-transform: scale(1.2); /* Safari 3-8 */
transform: scale(1.2); 
}
/* 
.addphotowrap{
  color:rgba(1, 50, 67, 1);
  z-index: 99;
  margin-top: 150px;
  background-color: rgba(46, 49, 49, .6);
  width: 100%;
  height: 20px;
  color:white;
  padding-bottom: 10px;
  text-align: center;
  
}

.front-namespar {
  padding-bottom: 40px;
  z-index: 99;
} */

@media (max-width: 650px){

body {
  overflow: auto;
  
}
  .logsignwrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    height: 100%;
    border-radius: 20px;
    margin: 0;
    

}

.signup{
  width: 100%;
  height: 100vw;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
  
}
.signupform{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  

}
.signupform1{
  width: 50%;

  

}
.signupform2{
  width: 50%;


}

.introhalf{
  width: 100%;
   
}

.photo-cont1{

  margin-top: 0px;

}

.loginoption {
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
  /* border-top-right-radius: 20px; */
  margin-top: 0px;
}

.loginInner {
  width:90%;
 
  margin-top: 10px;
  

}

.signuptext {
  
  margin-top:10px; 
  /* justify-content: ce
  nter;
  display: flex; */
}

.transactionswrap {
  display: flex;
  flex-direction: column;
    justify-content: center;
  
  }

  .moneyyougave {
    width: 100%;
    border-style: none;
  
  }

  .moneyyouowe {
    width: 100%;
    margin-top: 20px;
    border-style: none;

  

  }
  
  
  .contents {
    width: 100%;
      height: 100%;
    }

}



/* @media (device-height: 1024px) and (device-width: 768px) and (-webkit-min-device-pixel-ratio: 2){

.mainwrap{

  width: 100%;

}
  .wrap1{
  width: 80%;


}

.card1cont{

  width: 100%;

  }


  .about-me {
  width: 90%;
  
}

.mainwrap3{
  width: 100%;
  
}

.wrap3{
  width: 90%;

  
}

} */

@media (device-height: 375px) and (device-width: 812px) and (-webkit-min-device-pixel-ratio: 2){
body{

  overflow:auto;
}

}
@media (device-height: 812px) and (device-width: 375px) and (-webkit-min-device-pixel-ratio: 2){


  .logsignwrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    height: 100%;
    border-radius: 20px;
    margin: 0;

}

.signup{
  width: 100%;
  height: 100vw;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
  
}
.signupform{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  

}
.signupform1{
  width: 50%;

  

}
.signupform2{
  width: 50%;


}

.introhalf{
  width: 100%;
   
}

.photo-cont1{

  margin-top: 0px;

}

.loginoption {
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
  /* border-top-right-radius: 20px; */
  margin-top: 0px;
}

.loginInner {
  width:90%;
 
  margin-top: 10px;
  

}

.signuptext {
  
  margin-top:10px; 
  /* justify-content: ce
  nter;
  display: flex; */
}

.transactionswrap {
  display: flex;
  flex-direction: column;
    justify-content: center;
  
  }

  .moneyyougave {
    width: 100%;
    border-style: none;
  
  }

  .moneyyouowe {
    width: 100%;
    margin-top: 20px;
    border-style: none;

  }

  
  
  
  .contents {
    width: 100%;
      height: 100%;
    }

}






